body {
    margin: 0;
    display: flex;
    background-color: #000;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

*{
    font-family: 'Orbitron', sans-serif; 
    letter-spacing: 0.2em; 
}


canvas {
    display: block;
}

#infoPanel {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    width: 200px;
}

#infoPanel h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

#leftPanel {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    width: 150px;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2); /* Fundo semi-transparente */
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Mais claro ao passar o mouse */
}

button:active {
    transform: scale(0.95); /* Efeito de clique */
}
